#searchBar {
  width: 60%;
}
.main-search {
  grid-area: 2/2/2/3;
  justify-content: center;
  justify-self: center;
  align-items: center;
  padding: 5px;
}
.ingredient1 {
  display: inline;
}
.ingredient2 {
  display: inline;
}

.abtn {
  box-shadow: inset -6px -5px 2px -1px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 20px;
  text-decoration: none;
  text-shadow: 0px 4px 0px #ffffff;
}
.abtn:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}
.abtn:active {
  position: relative;
  top: 1px;
}
.thumbnail {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-content: center;
}
.thumbnailImg {
  max-width: 60%;
}
.recipeTitle {
  grid-column-start: 1;
  grid-column-end: 1;
}
.recipeLinks {
  grid-column-start: 3;
  grid-column-end: 3;
}