#heroImg {
    display: inline;
    opacity: .6;
    width: 100%;
} 
#hero{
    position: relative;
} 
#title{
    position: absolute;
    z-index: 1;
    bottom:30%;
    left: 35%;
}
@media screen and (max-width: 680px) {
    #title{
        position: absolute;
        z-index: 1;
        bottom:30%;
        left: 0px;
        font-size: 25px;
    }
}